RewriteEngine ON
RewriteRule ^dashboard dashboard.php [NC,L] 
RewriteRule ^login index.php [NC,L] 
RewriteRule ^register register.php [NC,L] 
RewriteRule ^create_course create_course.php [NC,L] 
RewriteRule ^logout logout.php [NC,L] 
RewriteRule ^bio bio.php [NC,L] 
RewriteRule ^e_exam e_exam.php [NC,L] 
RewriteRule ^document document.php [NC,L] 
RewriteRule ^course_materials course_materials.php [NC,L] 
RewriteRule ^my_course my_course.php [NC,L] 
RewriteRule ^c_panel c_panel.php [NC,L] 
RewriteRule ^adm_students adm_students.php [NC,L] 
RewriteRule ^adm_revenue adm_revenue.php [NC,L] 
RewriteRule ^adm_staff adm_staff.php [NC,L] 
RewriteRule ^adm_staff adm_staff.php [NC,L] 
RewriteRule ^adm_academic adm_academic.php [NC,L] 
RewriteRule ^adm_exam adm_exam.php [NC,L] 
RewriteRule ^adm_document adm_document.php [NC,L] 
RewriteRule ^adm_info adm_info.php [NC,L] 
RewriteRule ^adm_exam adm_exam.php [NC,L] 
RewriteRule ^adm_upload_score adm_upload_score.php [NC,L] 
RewriteRule ^adm_upload_comment adm_upload_comment.php [NC,L] 
RewriteRule ^test_proceed test_proceed.php [NC,L] 
RewriteRule ^account_details account_details.php [NC,L] 
RewriteRule ^adm_disbursement adm_disbursement.php [NC,L] 

php_value date.timezone 'Africa/lagos'